.main-container {
    width: 80%;
    min-width: 50.75em;
    height: 80vh;
    box-sizing: content-box;
    margin: 8vh auto 0 auto;
    display: flex;
    flex-direction: row;
}

.notes-container {
    width: 50%;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 2%;
}

.weather-time-todo-container {
    width: 50%; 
    height: 100%;
    display: flex;
    flex-direction: column;
}

.weather-time-container {
    width: 100%;
    height: 35%;
    background-color: #ff0000;
    border-radius: 2%;
}

.todo-container {
    width: 100%;
    height: 65%;
    background-color: #e7e7e7;
    border-radius: 2%;
}

.inputs{
    padding: 0.5em; 
    border-radius: 0.75rem; 
    border: 0.09375rem solid #d4d4d4; 
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0 0 1.25rem -1.125rem;
}

.inputs:active {
    transform: scale(0.97);
}
