.notes-toolbar {
    height: 3%;
    width: 90%;
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    margin: var(--margin-grids) var(--margin-todo-weather);
    border-radius: 0.75rem;
    outline: none;
    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
    z-index: 200;
}

.text-input {
    width: calc(100% - var(--margin-grids)*2 - 0.3em);
    margin-top: 1%;
    height: 90%;
    background-color: #E0E5EC;
    font-size: 100%;
    padding: 0.5em;
    border-radius: 0.75rem;
    border: none;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    overflow-y: auto;
    scroll-behavior: smooth;
    overflow-wrap:break-word;
}

.option-button {
    background-color: transparent;
    border: none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    width: 6%;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.advanced-options {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: 10%;
    font-size: 0.9em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feather {
    transition: all 0.05s cubic-bezier(0.19, 1, 0.22, 1);
    width: 70%;
    height: 70%;
    padding: 10%;
    align-self: center;
}

.option-button:hover,
.active {
    background-color: var(--rgba-color);
    cursor: pointer;
} 

.color {
    opacity: 0;
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
#colorPicker{
    cursor: pointer;
    display: flex;
    border: none;
    width: 6%;
    height: auto;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: var(--btn-color);
    border-radius: 50%;
}
