.notes-toolbar {
    height: 3%;
    width: 94%;
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    border-radius: 0.75rem;
    border: 0.09375rem solid #E0E5EC;
    outline: none;
    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.text-input {
    width: 94%;
    margin-top: 1%;
    height: 87%;
    background-color: #E0E5EC;
    border: none;
    font-size: 100%;
    padding: 0.5em;
    border-radius: 0.75rem;
    border: 0.09375rem solid #E0E5EC;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.option-button {
    background-color: transparent;
    border: none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    width: 5%;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advanced-options {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: 10%;
    font-size: 0.9em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feather {
    transition: all 0.05s cubic-bezier(0.19, 1, 0.22, 1);
    width: 80%;
}

.option-button:hover,
.active {
    background-color: #C9CED4;
    cursor: pointer;
}

#colorPicker {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 1em;
    height: 1em;
    border: none;
    cursor: pointer;
}

.color::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.color::-moz-color-swatch {
    border-radius: 50%;
    border: none;
}