.todo-list,
.todo-input-grid {
  grid-template-columns: 1.5fr 0.8fr 0.3fr;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  margin: 0.5em;
}

.todo-input-grid {
  margin-bottom: 0.8em;
  align-items: stretch;
}

.todo-item {
  margin-left: 0.4em;
  font-size: 0.9em;
}

.todo-name,
.todo-date {
  padding: 0.4em;
  background-color: #E0E5EC;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.todo-add {
  background-color: rgb(135, 192, 149);
  color: rgb(0, 0, 0);
  border: none;
  font-size: 0.9em;
  border-radius: 0.6em;
  cursor: pointer;
  padding: 0.5em;
  width: 100%;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}


.todo-status-name {
  display: flex;
  align-items: center;
  justify-content: left;
}

.todo-trash-icon {
  object-fit: cover;
  height: 100%;
}

.todo-del {
  background-color: rgb(255, 128, 171);
  color: white;
  border: none;
  height: 2em;
  font-size: 0.9em;
  border-radius: 0.6em;
  cursor: pointer;
  padding: 0.5em;
  width: 100%;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.todo-status {
  border: none;
  border-radius: 0.6em;
  font-size: 0.9em;
  cursor: pointer;
  padding: 0.5em;
  aspect-ratio: 1/1;
  border-radius: 100%;
  width: 2em;
  height: 2em;
}

.todo-status-not-started {
  background-color: #ff80ab;
}

.todo-status-in-progress {
  background-color: #ffcc66;
}

.todo-status-completed {
  background-color: #87c095;
}